<div class="b-node">
    <div class="b-node__title">{{data.name}}</div>
    <div class="b-node__controls">
        <button class="b-button" ng-click="addChildNode(data)">Add Child node</button>
        <button class="b-button" ng-click="editNode(data)">Edit Node</button>
        <button class="b-button" ng-click="deleteNode(data, parent.childNodes)" >Delete Node</button>
    </div>
</div>
<ul class="b-node-list" ng-show="data.childNodes.length > 0">
    <li class="b-node-list__node" ng-repeat="data in data.childNodes" ng-include="'partials/partialRecursive.html'" ng-init="parent = $parent.data"></li>
</ul>