<li id="{{'node' + node.id}}" class="b-node-list__node">
    <div class="b-node">
        <div class="b-node__title">{{node.name}}</div>
        <div class="b-node__controls">
            <button class="b-button" ng-click="addChildNode(node)">Add Child node</button>
            <button class="b-button" ng-click="editNode(node)">Edit Node</button>
            <button class="b-button" ng-click="deleteNode(node)">Delete Node</button>
        </div>
    </div>
    <ul class="b-node-list" id="{{'c' + node.id}}">
    </ul>
</li>